body {
	margin: 0;
	padding: 0;
	background-image: url(../img/FondoSemaforo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

section {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.traffic-light-top {
	width: 1rem;
	height: 6rem;
	background: #1a1a1a;
	border-radius: 10px 10px 0 0;
	box-shadow: inset 0 0 5px #000;
}

/* Cuerpo del semáforo */
.traffic-light-body {
	width: 90px;
	padding: 20px 10px;
	background: linear-gradient(to bottom, #2e2e2e, #111);
	border-radius: 20px;
	box-shadow: inset 0 0 15px #000, 0 5px 25px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

/* Luces base */
.traffic-light-body span {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: inset 0 0 10px #000;
}

.red-light {
	background: radial-gradient(circle at 30% 30%, #ff4c4c, #b00000) !important;
	box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.6) !important;
}

.yellow-light {
	background: radial-gradient(circle at 30% 30%, #fff94c, #bba700) !important;
	box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.5) !important;
}

.green-light {
	background: radial-gradient(circle at 30% 30%, #4cff4c, #00b000) !important;
	box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.5) !important;
}

button {
	font-size: 1.4em;
	font-family: monospace;
	padding: 0.6em 0.8em;
	border-radius: 0.5em;
	border: none;
	background-color: #000;
	color: #f441a5;
	cursor: pointer;
	box-shadow: 2px 2px 3px #000000b4;
}

.button-div {
	padding: 3px;
	background: linear-gradient(90deg, #03a9f4, #f441a5);
	border-radius: 0.9em;
	transition: all 0.4s ease;
	width: 19.5rem;
	margin-top: 10px;
}

.button-div::before {
	content: "";
	inset: 0;
	margin: auto;
	border-radius: 0.9em;
	z-index: -10;
	filter: blur(0);
	transition: filter 0.4s ease;
}

.button-div:hover::before {
	background: linear-gradient(90deg, #03a9f4, #f441a5);
	filter: blur(1.2em);
}

.button-div:active::before {
	filter: blur(0.2em);
}